@media (max-width: 1199px) {
    .browser {
        grid-template-columns: 200px 1fr;
    }
}


.node .label {
    flex: 1;
}


.item {
    background: var(--clr-surface-a10);
    border: 1px solid;
    border-color: var(--clr-surface-a30);
    transition: transform .15s;
    overflow: hidden;
    color: var(--clr-light-a0) !important;

    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
}

.item.has-bg::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: rgba(0, 0, 0, 0.4) 100%;
    z-index: 1;
}

.item:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(3, 6, 23, 0.5);
}

.item.selected {
    border-color: var(--clr-primary-a0);
    outline: 2px solid var(--clr-primary-a0);
}

.icon {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    font-size: 22px;
    color: #1a1a1a;
    position: relative;
    z-index: 2;
}

.icon.folder {
    background: linear-gradient(180deg, var(--folder), #ff8b00);
}

.icon.file {
    background: linear-gradient(180deg, var(--file), #e3b84a);
}

.file-preview .big {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    font-size: 48px;
    flex-shrink: 0;
}

.card-panel {
    background: linear-gradient(180deg, var(--clr-surface-a20), var(--clr-surface-a10));
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 10px;
}

.breadcrumb-item::before {
    content: "/";
    font-size: 1rem;
    padding: 4px 8px;
    white-space: pre-wrap;
    color: var(--clr-light-a0) !important;
}

.breadcrumb-item button {
    background: transparent;
    border: 0;
    color: var(--clr-light-a0);
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 1rem;
}

.breadcrumb-item button:hover {
    background: var(--clr-surface-tonal-a0);
    color: var(--clr-primary-a0);
}

.search-input-group {
    background: var(--clr-surface-a20);
    border-radius: 8px;
    padding: 8px;
}

.search-input-group input {
    background: var(--clr-surface-a20);
    border: 0;
    outline: 0;
    font-size: 0.9rem;
    color: #fff;
}

.search-input-group input::placeholder {
    color: var(--clr-surface-a50);
}

.search-input-group svg {
    opacity: .7;
}

.upBtn {
    background: var(--clr-primary-a20);
    color: var(--clr-dark-a0);
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
}

.upBtn:hover {
    background: var(--clr-primary-a0);
}
.addBtn {
    background: var(--clr-primary-a20);
    color: var(--clr-dark-a0);
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
}

.addBtn:hover {
    background: var(--clr-primary-a0);
}


#folderNameInput::placeholder{
    color: var(--clr-light-a0);
    opacity: 0.7;
}
.dropdown-menu{
    background: var(--clr-primary-a20) !important;
}

.dropdown-item:hover, .dropdown-item:focus {
    background: var(--clr-primary-a50) !important;
}